table {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    border-left: 2px dashed black;
    border-right: 2px dashed black;

    border-collapse:revert;

}

th {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;

}

.separter
{

}